h1 {
  font-size: 36px;
  font-weight: 700; 
  margin-bottom: 40px;
}

p {
  font-size: 24px;
  line-height: 32px;
}

.image {
  margin: 60px 0;
}

body {
  font-family: 'Bitter', serif;
  color: #333;
}

nav {
  font-family: 'Arimo', sans-serif;
}

#logo {
  width: 160px;
  height: 40px;
  background-color: #bbb;
  /* move the logo down */
  -ms-transform: translateY(70%);
  -webkit-transform: translateY(70%);
  transform: translateY(70%);
}

#nav-sections {
  width:10%;
  background-color:#eee;
  float:left;
  color: #ccc;
}

#nav-sections li {
  height: 100px;
  position: relative;
  left: 10%;  
  /* move the li text down */
  -ms-transform: translateY(40%);
  -webkit-transform: translateY(40%);
  transform: translateY(40%);
}

#nav-tags {
  width:15%;
  background-color:#ccc;
  float:left;
  color: #aaa;
}

#nav-tags li {
  margin-bottom: 10px;
  line-height: 24px;
}

#nav-tags li strong {
  text-transform: uppercase;
}

#nav-tags ul {
  margin-bottom: 40px;
  margin-left: 20px;
}

#articles {
  width:50%;
  float:left;
}

#articles > article {
  width: 75%;
  margin: 0 auto;
}

#search-ads {
  width: 25%;
  float:left;
}

header {
  height: 100px;
}

footer {
  clear:both;
  width: 45%;
  margin: 0 auto;
}

footer div {
  width: 30%;
  margin-right: 3%;
  float:left;
}

.footer-text{
  width:50%;
}

.image {
  width: 500px;
  height: 350px;
  background-color: #333;
}

.small {
  width: 100px;
  height: 100px;
  background-color: #bbb;
}

/* search (or subscribe) div */
.submit {
  width: 90%;
  margin: 0 auto;
  background-color: blue;
}

/* search (or subscribe) field */
.submit div:nth-of-type(1) {
  float:left;
  width: 80%;
  background-color: #EEE;
  height: 50px;
}

/* search (or subscribe) button */
.submit div:nth-of-type(2) {
  background-color: #333;
  height: 50px;
  width: 20%;
  float: left;
}

.advertisement {
  width: 200px;
  height: 125px;
  background-color: #555;
  float: left;
  margin: 40px 0 0 20px;
}

.wide {
  width: 420px;
}

.button-more {
  width: 120px;
  height: 40px;
  background-color: #555;
  margin: 40px 0;  
}

.horizontal-divider {
  width: 100%;
  height: 5px;
  background-color: #555;
  margin: 40px 0;  
}

.spacing {
  height: 40px;
  width: 100%;
  float: left;
}

strong {
  font-weight: 700;
}
