#nav-sections {
  width:10%;
  background-color:#eee;
  float:left;
  color: #ccc;
}

#nav-sections li {
  height: 100px;
  position: relative;
  left: 10%;  
  /* move the li text down */
  -ms-transform: translateY(40%);
  -webkit-transform: translateY(40%);
  transform: translateY(40%);
}

#nav-tags {
  width:15%;
  background-color:#ccc;
  float:left;
  color: #aaa;
}

#nav-tags li {
  margin-bottom: 10px;
}

#nav-tags ul {
  margin-bottom: 40px;
  margin-left: 20px;
}

#articles {
  width:50%;
  background-color:red;
  float:left;
}

#articles > article {
  width: 75%;
  margin: 0 auto;
}

#search-ads {
  width: 25%;
  background-color:green;
  float:left;
}

header {
  height: 100px;
}

footer {
  clear:both;
  position: fixed;
  bottom: 0;
}

.image {
  width: 500px;
  height: 350px;
  background-color: #333;
}

/* search (or subscribe) div */
.submit {
  width: 90%;
  margin: 0 auto;
  background-color: blue;
}

/* search (or subscribe) field */
.submit div:nth-of-type(1) {
  float:left;
  width: 80%;
  background-color: #EEE;
  height: 50px;
}

/* search (or subscribe) button */
.submit div:nth-of-type(2) {
  background-color: #333;
  height: 50px;
  width: 20%;
  float: left;
}

.advertisement {
  width: 200px;
  height: 125px;
  background-color: #555;
  float: left;
  margin: 40px 0 0 20px;
}

.wide {
  width: 420px;
}

.button-more {
  width: 120px;
  height: 40px;
  background-color: #555;
  margin: 40px 0;  
}

.horizontal-divider {
  width: 100%;
  height: 5px;
  background-color: #555;
  amargin: 40px 0;  
}

strong {
  font-weight: 700;
}
